
header {
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel img {
    scroll-snap-align: start;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.product-details select,
.product-details .color-options {
    margin-bottom: 10px;
}

.product-details .color-options label {
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14131d;
    padding: 30px 40px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #e4a2c8;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links .eshop-link {
    color: lightblue;
}


.nav-links a:hover {
    color: #c3dfff;
}

.btn-pink {
    background-color: #e4a2c8;
    color: #14131d;
    
}
.btn-pink:hover {
    background-color: #c3dfff; 
    color: #14131d; 
} 

.bold {
    font-weight: bold;
}

.footer {
    background-color: #14131d;
    
    text-align: center;
    padding: 120px 0;
    position: relative;
    bottom: 90;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    height: 50px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    color: #e4a2c8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #c3dfff;
}

.footer-text {
    margin-top: 80px;
    font-size: 14px;
}

h2 {
    color: #14131d; 
    font-size: 20px;
}

#product-size {
    width: 200px; 
    border-radius: 5px; 
    padding: 8px 12px; 

}

.form-check-input:checked {
    background-color: pink;
    border-color: pink;
}
