body {
    background-color: #14131d;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
   
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: 600;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e4a2c8;
  }
  
  .form-group textarea {
    resize: none;
    height: 150px;
  }
  
  .form-group label {
    font-weight: 600;
    color: #e4a2c8; 
  }

  .btn-submit {
    background-color: #e4a2c8;
  
    border: none;
    padding: 10px 20px;
  
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #84bdff;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #14131d; 
    padding: 20px 40px; 
    width: 100%;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #e4a2c8;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links .eshop-link {
    color: lightblue;
}

.nav-links a:hover {
    color: #c3dfff;
}

.footer {
    background-color: #14131d;
    
    text-align: center;
    padding: 120px 0;
    position: relative;
    bottom: 90;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    height: 50px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    color: #e4a2c8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #c3dfff;
}

.footer-text {
    margin-top: 80px;
    font-size: 14px;
}

h2 {
    color: #14131d; 
    font-size: 20px;
}
  
h2 {
    font-size: 2rem;
    color: #e4a2c8;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}

.button-container {
    text-align: center;
}

.button {
    width: 200px; 
    border-radius: 5px; 
    padding: 8px 12px; 
}

.button-container {
    text-align: center;
}
